##### Connecting to Sqlite

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Create an SQLite engine
engine = create_engine('sqlite:///example.db')

# Example of creating a DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

# Write DataFrame to an SQLite database
df.to_sql('people', con=engine, if_exists='replace', index=False)

# Read the data back from the SQLite database
df_from_db = pd.read_sql('people', con=engine)

# Display the data from the database
print(df_from_db)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

##### Connecting to postgres

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Replace these with your actual database credentials
username = 'your_username'
password = 'your_password'
host = 'localhost'  # or '127.0.0.1'
port = '5432'
database = 'your_database_name'

# Create the PostgreSQL connection string
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'

# Create a PostgreSQL engine
engine = create_engine(connection_string)

# Example DataFrame
df = pd.DataFrame({
    'Name': ['David', 'Eva', 'Frank'],
    'Age': [40, 50, 60]
})

# Write DataFrame to PostgreSQL
df.to_sql('people', con=engine, if_exists='replace', index=False)

# Read the data back from the PostgreSQL database
df_from_db = pd.read_sql('SELECT * FROM people', con=engine)

# Display the data from the database
print(df_from_db)

##### SQL query writing in python

Example Database Setup
We'll use an SQLite example for simplicity. However, the same concepts apply to PostgreSQL, MySQL, and other databases. Let's assume we have an SQLite database with two tables: employees and departments.

Table 1: employees
id	name	age	department_id
1	Alice	25	1
2	Bob	30	2
3	Charlie	35	1
4	David	40	2

Table 2: departments
id	department_name
1	HR
2	IT
Now letâ€™s perform basic SQL queries on these tables.

3. Writing SQL Queries with SQLAlchemy

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Create an SQLite engine (using SQLite for simplicity, but it could be any database)
engine = create_engine('sqlite:///company.db')

# Connect to the database
connection = engine.connect()

# Create some example data for employees and departments (This step assumes you have these tables in your DB already)
# employees table
employees_data = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'department_id': [1, 2, 1, 2]
})
# departments table
departments_data = pd.DataFrame({
    'id': [1, 2],
    'department_name': ['HR', 'IT']
})

# Write the tables to the SQLite database
employees_data.to_sql('employees', con=engine, if_exists='replace', index=False)
departments_data.to_sql('departments', con=engine, if_exists='replace', index=False)

# 1. Basic SELECT query - Fetch all rows from employees table
query = "SELECT * FROM employees"
result = pd.read_sql(query, connection)
print("Basic SELECT query:")
print(result)

# 2. SELECT with WHERE clause - Fetch employees older than 30
query = "SELECT * FROM employees WHERE age > 30"
result = pd.read_sql(query, connection)
print("\nSELECT with WHERE clause (age > 30):")
print(result)

# 3. SELECT with ORDER BY clause - Sort employees by age in ascending order
query = "SELECT * FROM employees ORDER BY age ASC"
result = pd.read_sql(query, connection)
print("\nSELECT with ORDER BY age ASC:")
print(result)

# 4. SELECT with LIMIT clause - Limit result to the first two rows
query = "SELECT * FROM employees LIMIT 2"
result = pd.read_sql(query, connection)
print("\nSELECT with LIMIT 2:")
print(result)

# 5. SELECT with JOIN clause - Join employees and departments to get department names
query = """
SELECT employees.name, employees.age, departments.department_name 
FROM employees
JOIN departments ON employees.department_id = departments.id
"""
result = pd.read_sql(query, connection)
print("\nSELECT with JOIN (employees and departments):")
print(result)

# 6. SELECT with GROUP BY and COUNT - Count number of employees in each department
query = """
SELECT departments.department_name, COUNT(employees.id) as employee_count
FROM employees
JOIN departments ON employees.department_id = departments.id
GROUP BY departments.department_name
"""
result = pd.read_sql(query, connection)
print("\nSELECT with GROUP BY and COUNT:")
print(result)

# 7. SELECT with GROUP BY and AVG - Calculate average age of employees in each department
query = """
SELECT departments.department_name, AVG(employees.age) as average_age
FROM employees
JOIN departments ON employees.department_id = departments.id
GROUP BY departments.department_name
"""
result = pd.read_sql(query, connection)
print("\nSELECT with GROUP BY and AVG:")
print(result)

# Close the connection
connection.close()

Read SQL quesry and read sql table

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Create an SQLite engine (this could be any database engine)
engine = create_engine('sqlite:///company.db')

# Sample data for employees and departments tables
employees_data = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'department_id': [1, 2, 1, 2]
})

departments_data = pd.DataFrame({
    'id': [1, 2],
    'department_name': ['HR', 'IT']
})

# Write the tables to the SQLite database
employees_data.to_sql('employees', con=engine, if_exists='replace', index=False)
departments_data.to_sql('departments', con=engine, if_exists='replace', index=False)

# Establish a connection to the database
connection = engine.connect()

# 1. Using pd.read_sql_table to load the entire 'employees' table into a DataFrame
df_employees = pd.read_sql_table('employees', con=engine)

# 2. Using pd.read_sql_query to execute a SQL query to join 'employees' and 'departments'
query = """
SELECT employees.name, employees.age, departments.department_name
FROM employees
JOIN departments ON employees.department_id = departments.id
WHERE employees.age > 30
"""
df_query = pd.read_sql_query(query, con=engine)

# Printing both DataFrames
print("Data loaded using pd.read_sql_table():")
print(df_employees)

print("\nData loaded using pd.read_sql_query():")
print(df_query)

# Close the connection
connection.close()